.reports-container {
    max-width: 900px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 40px; /* Padding inside the container */
    margin-top: 10%; /* Top margin of 10% */
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .reports-table {
    top: 200px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .reports-table th,
  .reports-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .reports-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .reports-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: white;
  }
  
  .view-btn {
    background-color: #2190FF;
  }
  
  .download-btn {
    background-color: #0066ff;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
